################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Business/.vs/Business/FileContentIndex/f6388c59-1d9c-46d8-8047-e857406213d7.vsidx
/Business/.vs/Business/FileContentIndex/dbdf0b4d-30f1-4473-973a-3e307842501f.vsidx
/Business/.vs/Business/FileContentIndex/da7fd023-7c9f-4d6e-910b-60c516d82e66.vsidx
/Business/.vs/Business/FileContentIndex
